<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Product Details</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>
<h2 th:text="#{app.title}">App Title</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>

    </tr>
    </thead>
    <tbody>
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.address}">Address</td>
    </tr>
    </tbody>
</table>
</body>
</html>